@import '../../../assets/stylesheets/foundation/variables'

.QuoteEditor
  background: #f2f1ed
  width: 100%
  display: flex
  flex-direction: column
  min-height: calc(100vh - 59.3px)
  &__footer
    margin-top: auto
    &__innerContents
      width: 100%
      height: 45px
      padding: 5px
      background-color: #444444
      display: flex
      justify-content: center
      align-items: center

.DocumentPreview
  flex: 1
  margin-bottom: 30px
  &__innerContents
    min-width: 765px
    min-height: 700px
    margin-top: 50px
    background-color: #fff
    overflow: hidden
    padding: 30px
    &__border
      border-bottom: 1px solid #aaa
    &__remarks
      border: 1px solid #aaa
    &__wrp
      overflow: hidden
    &__items
      td
        padding: 5px
    &__billing
      &Total
        width: 300px
        margin: auto 0 auto auto
        p
          margin: 0 0 10px
          border-bottom: 1px solid #aaa
          span
            float: right
        &__price
          font-size: 16px
          font-weight: bold
          line-height: 1.6
          span
            float: right
    &__breakDown
      margin: auto 0 auto auto
      width: 300px
      border-bottom: solid 1px #aaa
      font-size: 13px
      &__header
        width: 60px
        font-weight: bold
      &__container
        display: block
      &__content
        display: inline-block
        width: 240px
      &__excise
        &Container
          width: 120px
          text-align: left
      &__subtotal
        &Container
          width: 120px
          text-align: right
      &__item
        &Content
          margin-bottom: 10px

.EditingViewer
  max-width: 490px
  margin-top: 50px
  &__modal
    display: block
    opacity: 1
    overflow: auto
    overflow-y: scroll
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 10000
    outline: 0
    background: rgba(map-get($layoutColors, 'black'), .5)
    &Dialog
      position: relative
      transform: translate(0, 0)
      width: 600px
      margin: 30px auto
    &Content
      box-shadow: 0 5px 15px rgba(0,0,0,0.5)
      position: relative
      border: 1px solid rgba(0,0,0,0.2)
      background-color: #fff
      border-radius: 6px
      background-clip: padding-box
      outline: 0
    &Header
      font-size: 24px
      line-height: 1
      border: none
      padding: 20px 20px 10px
      word-break: break-all
      min-height: 16.428571429px
      p
        font-weight: bold
        word-break: break-all
    &Body
      padding: 15px
      table
        width: 100%
        background-color: #fff
        border-spacing: 0
        border-collapse: separate
        border-top: 1px solid #f2f1ed
      th
        text-align: left
        vertical-align: middle
        border-right: 1px solid #f2f1ed
        font-weight: bold
      th, td
        padding: 8px
        border-bottom: 1px solid #f2f1ed
        word-break: break-all
      textarea
        overflow: hidden
        overflow-wrap: break-word
        resize: horizontal
        height: 80px
        min-height: 80px
  &__svgIcon
    &:hover
      fill: #ffa333
      background-color: #bbbbbb
    svg
      cursor: pointer
  &__btn
    &Normal
      display: inline-block
      vertical-align: middle
      zoom: 1
      border-radius: 5px
      background-size: 100%
      cursor: pointer
      background-image: linear-gradient(to bottom, #f8f8f8, #e3e3e3)
      border: solid 1px rgba(227,227,227,0.5)
      text-align: center
      color: #3b8dcd
      padding: 0 3px
      font-size: map-get($fontSize, 'base')
      &:hover
        background-color: #bbbbbb
    &Freeze
      display: inline-block
      vertical-align: center
      border-radius: 5px
      background-size: 100%
      cursor: pointer
      background-image: linear-gradient(to bottom, #f8f8f8, #e3e3e3)
      border: solid 1px rgba(227,227,227,0.5)
      text-align: center
      color: #3b8dcd
      padding: 0 3px
      font-size: map-get($fontSize, 'base')
      &:hover
        background-color: #bbbbbb
  &__table
    border-top: 1px solid #d2d4d8
    min-width: 100%
    thead
      display: table-header-group
      vertical-align: middle
      border-color: inherit
      th
        text-align: center
        font-weight: normal
        border-bottom: 1px solid #d2d4d8
        padding: 3px 0
        font-size: map-get($fontSize, 'small')
      th + th
        border-left: 1px solid #d2d4d8
    tbody
      td
        background: #f8f8f8
        border-bottom: 1px solid #d2d4d8
        padding: 4px
      td + td
        border-left: 1px solid #d2d4d8
  &__header
    padding: 13px 10px
    background: #6e6d6c
    color: #fff
    line-height: 1
  &__inner
    padding: 10px
    background: #fff
    &Column
      overflow: visible
      strong
        display: inline-block
        font-weight: bold
        color: #424242
        font-size: map-get($fontSize, 'base')
      &__must
        float: right
        font-size: map-get($fontSize, 'x-small')
        line-height: 1.4
        background-color: #dd3925
        color: #ffffff
        margin: 0 5px
        padding: 2px 5px
        font-weight: normal
        border-radius: 2px
      &__quoteNumber
        max-width: 210px
      &__three
        display: inline-block
        vertical-align: top
        &Date
          margin-left: 5px
          max-width: 120px
