= react_component('QuoteEditor',
  { action: action,
    quote: quote,
    projects: quote&.projects,
    user: quote&.user,
    company: quote&.client&.company_division&.company,
    division: quote&.client&.company_division,
    client: quote&.client,
    users: User.all,
    prefectures: Prefecture.all,
  })
