# officaial
*.rbc
capybara-*.html
.rspec
/log
/report
/tmp
/.sass-cache
/.vscode
/.bundle
/vendor/bundle
*.rdb
/public/storage
/public/feeds
/public/development
/public/production
/public/packs
/public/packs-test
/public/assets
/public/test
/public/sitemaps
/coverage/
/spec/tmp
**.orig
return.txt
pickle-email-*.html

# original
/data
/test

**.DS_Store
.env
.envrc
dump.rdb

rails_best_practices_output.html
/public/check.html

/node_modules
/yarn-error.log

.byebug_history

# Ignore master key for decrypting credentials and more.
#/config/master.key
yarn-debug.log*
.yarn-integrity
