= react_component :InvoiceEditor, invoice: invoice.new_record?? nil : invoice, quote: invoice.quote, projects: invoice.quote.quote_projects, company: invoice.quote.client.present? ? invoice.quote.client.company_division.company.name : '', division: invoice.quote.client.present? ? { name: invoice.quote.client.company_division.name, zip: invoice.quote.client.company_division.zip, address1: invoice.quote.client.company_division.address1, address2: invoice.quote.client.company_division.address2 }: '', client: invoice.quote.client.present? ? invoice.quote.client.name : ''
