= react_component('DeliveryPdfGenerator', { quote: quote, projects: quote.quote_projects, company: quote.client&.company_division&.company, division: quote.client&.company_division, client: quote.client })