#messages_area
  - task.messages.each do |r|
    //自分と相手のメッセージのcss変更
    -if r.name === current_user.name
      dl.p-tasks__message-current
        dt = simple_format(r.content)
    -else
      dl.p-tasks__message-others
        dt = simple_format(r.content)

javascript:
  function ajaxUpdate(url, element){
    var ajax = new XMLHttpRequest;
    ajax.open('GET', url, true);
    ajax.responseType = "document";
    ajax.onload = function () {
      document.getElementById('messages_area').innerHTML = ajax.response.getElementById('messages_area').innerHTML;
     };
    ajax.send(null);
  }
  //20秒に一回メッセージエリアを読み込む
  window.addEventListener('load', function(){
    var url = '#{@task_id}';
    var div = document.getElementById('messages_area');
    setInterval(function(){
      ajaxUpdate(url, div);
    }, 20000);
  });
