= react_component :TemplateClient,
{ 'head': false,
  'layouts': @layouts,
  'card_template_id': params[:id],
  'client_id': company_division_client.id,
  'default_layout_id': company_division_client.head_layout_id,
  'default_layout': company_division_client.head_layout || @layouts[0] }