.u-mt-15
  = react_component('WorkStatus', { status: works.find(params[:id]).status, id: params[:id] })
.c-attention.u-mt-10.u-fw-bold
  | 案件タイトル:
  span.u-ml-10 = works.find(params[:id]).quote&.subject
  span.u-ml-20
    | 案件番号:
    span.u-ml-10 = works.find(params[:id]).quote&.quote_number
  span.u-ml-20
    | 受付日:
    span.u-ml-10 = works.find(params[:id]).quote&.created_at.to_s
  span.u-ml-20
    | 担当者:
    span.u-ml-10 = works.find(params[:id]).quote&.user&.name
  span.u-ml-30
    = link_to '案件を編集する', edit_quote_path(works.find(params[:id]).quote), class: 'c-btnMain-standard'
  .u-mt-10
  | お客様情報
  br
  span
    | 会社名:
    span.u-ml-10 = work.quote&.client&.company_division&.company&.name
  span.u-ml-20
    | 部署名:
    span.u-ml-10 = work.quote&.client&.company_division&.name
  span.u-ml-20
    | 担当者名:
    span.u-ml-10 = work.quote&.client&.name
    | 樣
  .u-mt-10
    | 納期:
    span.u-ml-10 = work.quote&.deliver_at&.present? ? work.quote&.deliver_at&.to_s : '未定'
    span.u-ml-20
      | 納品方法:
    span.u-ml-10
      = work.quote&.deliver_type_i18n
      = " (#{work.quote.deliver_type_note})" if work.quote&.deliver_type_note&.present?

.u-mt-10
    - if Work.find(params[:id]).quote.quote_projects.pluck(:project_id).uniq.present?

        - Work.find(params[:id]).quote.quote_projects.pluck(:project_id).uniq.each do |r|

            - if Project.find(r).project_category_i18n === 'プリント'

                = react_component('QuoteProject',
                    { project: Project.find(r),
                      project_after_process: Project.find(r)&.after_process_i18n,
                      project_after_process_folding: Project.find(r)&.project_after_process&.folding_i18n,
                      project_after_process_stapler: Project.find(r)&.project_after_process&.stapler_i18n,
                      project_after_process_hole: Project.find(r)&.project_after_process&.hole_i18n,
                      project_after_process_hole_note: Project.find(r)&.project_after_process&.hole_note,
                      project_after_process_clip: Project.find(r)&.project_after_process&.clip_i18n,
                      project_after_process_bind: Project.find(r)&.project_after_process&.bind_i18n,
                      project_after_process_bind_note: Project.find(r)&.project_after_process&.bind_note,
                      project_after_process_back_text: Project.find(r)&.project_after_process&.back_text_i18n,
                      project_after_process_back_text_note: Project.find(r)&.project_after_process&.back_text_note,
                      project_binding_work: Project.find(r)&.binding_work_i18n,
                      project_binding_work_bind_type: Project.find(r)&.project_binding_work&.bind_type_i18n,
                      project_binding_work_cross_front: Project.find(r)&.project_binding_work&.cross_front,
                      project_binding_work_cross_back: Project.find(r)&.project_binding_work&.cross_back,
                      project_binding_work_cross_color: Project.find(r)&.project_binding_work&.cross_color_i18n,
                      project_binding_work_wrap_front: Project.find(r)&.project_binding_work&.wrap_front,
                      project_binding_work_wrap_back_text: Project.find(r)&.project_binding_work&.wrap_back_text_i18n,
                      project_binding_work_stitching_paper: Project.find(r)&.project_binding_work&.stitching_paper,
                      project_binding_work_secret_stitch: Project.find(r).project_binding_work&.secret_stitch_i18n,
                      project_binding_work_secret_stitch_paper: Project.find(r)&.project_binding_work&.secret_stitch_paper_i18n,
                      project_binding_work_radio_stitch: Project.find(r)&.project_binding_work&.radio_stitch_i18n,
                      project_binding_work_radio_cut: Project.find(r)&.project_binding_work&.radio_cut_i18n,
                      project_binding_work_radio_cut_note: Project.find(r)&.project_binding_work&.radio_cut_note,
                      project_binding_work_note: Project.find(r)&.project_binding_work&.note,
                      project_category: Project.find(r)&.project_category_i18n,
                      project_print_draft_data: Project.find(r)&.print&.draft_data,
                      project_print_url: Project.find(r)&.print&.url,
                      project_print_work_process: Project.find(r)&.print&.work_process_i18n,
                      project_print_work_type: Project.find(r)&.print&.work_type_i18n,
                      project_print_work_note: Project.find(r)&.print&.work_note,
                      project_print_work_time: Project.find(r)&.print&.work_time,
                      project_print_print_work: Project.find(r)&.print&.print_work_i18n,
                      project_print_color: Project.find(r)&.print&.color_i18n,
                      project_print_print_size: Project.find(r)&.print&.print_size_i18n,
                      project_print_print_size_other: Project.find(r)&.print&.print_size_note,
                      project_print_surface: Project.find(r)&.print&.surface_i18n,
                      project_print_open_type: Project.find(r)&.print&.open_type_i18n,
                    })
            - elsif Project.find(r).project_category_i18n === '名刺'

                = react_component('QuoteProject',
                    { project: Project.find(r),
                      project_category: Project.find(r)&.project_category_i18n,
                      project_card_draft_data: Project.find(r)&.card&.draft_data,
                      project_card_url: Project.find(r)&.card&.url,
                      project_card_type: Project.find(r)&.card&.card_type_i18n,
                      project_card_work_type: Project.find(r)&.card&.work_type_i18n,
                      project_card_work_time: Project.find(r)&.card&.work_time,
                      project_card_color: Project.find(r)&.card&.color_i18n,
                      project_card_paper: Project.find(r)&.card&.paper_i18n,
                      project_card_surface: Project.find(r)&.card&.surface_i18n,
                      project_card_emboss: Project.find(r)&.card&.emboss_i18n,
                    })
            - elsif Project.find(r).project_category_i18n === 'コピー'

                = react_component('QuoteProject',
                    { project: Project.find(r),
                      project_after_process: Project.find(r)&.after_process_i18n,
                      project_after_process_folding: Project.find(r)&.project_after_process&.folding_i18n,
                      project_after_process_stapler: Project.find(r)&.project_after_process&.stapler_i18n,
                      project_after_process_hole: Project.find(r)&.project_after_process&.hole_i18n,
                      project_after_process_hole_note: Project.find(r)&.project_after_process&.hole_note,
                      project_after_process_clip: Project.find(r)&.project_after_process&.clip_i18n,
                      project_after_process_bind: Project.find(r)&.project_after_process&.bind_i18n,
                      project_after_process_bind_note: Project.find(r)&.project_after_process&.bind_note,
                      project_after_process_back_text: Project.find(r)&.project_after_process&.back_text_i18n,
                      project_after_process_back_text_note: Project.find(r)&.project_after_process&.back_text_note,
                      project_binding_work: Project.find(r)&.binding_work_i18n,
                      project_binding_work_bind_type: Project.find(r)&.project_binding_work&.bind_type_i18n,
                      project_binding_work_cross_front: Project.find(r)&.project_binding_work&.cross_front,
                      project_binding_work_cross_back: Project.find(r)&.project_binding_work&.cross_back,
                      project_binding_work_cross_color: Project.find(r)&.project_binding_work&.cross_color_i18n,
                      project_binding_work_wrap_front: Project.find(r)&.project_binding_work&.wrap_front,
                      project_binding_work_wrap_back_text: Project.find(r)&.project_binding_work&.wrap_back_text_i18n,
                      project_binding_work_stitching_paper: Project.find(r)&.project_binding_work&.stitching_paper,
                      project_binding_work_secret_stitch: Project.find(r)&.project_binding_work&.secret_stitch_i18n,
                      project_binding_work_secret_stitch_paper: Project.find(r)&.project_binding_work&.secret_stitch_paper_i18n,
                      project_binding_work_radio_stitch: Project.find(r)&.project_binding_work&.radio_stitch_i18n,
                      project_binding_work_radio_cut: Project.find(r)&.project_binding_work&.radio_cut_i18n,
                      project_binding_work_radio_cut_note: Project.find(r)&.project_binding_work&.radio_cut_note,
                      project_binding_work_note: Project.find(r)&.project_binding_work&.note,
                      project_category: Project.find(r)&.project_category_i18n,
                      project_copy_posting_state: Project.find(r)&.copy&.posting_state_i18n,
                      project_copy_posting_state_note: Project.find(r)&.copy&.posting_state_note,
                      project_copy_draft_split: Project.find(r)&.copy&.draft_split_i18n,
                      project_copy_draft_restore: Project.find(r)&.copy&.draft_restore_i18n,
                      project_copy_color: Project.find(r)&.copy&.color_i18n,
                      project_copy_print_size: Project.find(r)&.copy&.print_size_i18n,
                      project_copy_print_size_note: Project.find(r)&.copy&.print_size_note,
                      project_copy_surface: Project.find(r)&.copy&.surface_i18n,
                      project_copy_open_type: Project.find(r)&.copy&.open_type_i18n,
                    })
            - elsif Project.find(r).project_category_i18n === '製本'

                = react_component('QuoteProject',
                    { project: Project.find(r),
                     	project_after_process: Project.find(r)&.after_process_i18n,
                      project_after_process_folding: Project.find(r)&.project_after_process&.folding_i18n,
                      project_after_process_stapler: Project.find(r)&.project_after_process&.stapler_i18n,
                      project_after_process_hole: Project.find(r)&.project_after_process&.hole_i18n,
                      project_after_process_hole_note: Project.find(r)&.project_after_process&.hole_note,
                      project_after_process_clip: Project.find(r)&.project_after_process&.clip_i18n,
                      project_after_process_bind: Project.find(r)&.project_after_process&.bind_i18n,
                      project_after_process_bind_note: Project.find(r)&.project_after_process&.bind_note,
                      project_after_process_back_text: Project.find(r)&.project_after_process&.back_text_i18n,
                      project_after_process_back_text_note: Project.find(r)&.project_after_process&.back_text_note,
                      project_binding_work: Project.find(r)&.binding_work_i18n,
                      project_binding_work_bind_type: Project.find(r)&.project_binding_work&.bind_type_i18n,
                      project_binding_work_cross_front: Project.find(r)&.project_binding_work&.cross_front,
                      project_binding_work_cross_back: Project.find(r)&.project_binding_work&.cross_back,
                      project_binding_work_cross_color: Project.find(r)&.project_binding_work&.cross_color_i18n,
                      project_binding_work_wrap_front: Project.find(r)&.project_binding_work&.wrap_front,
                      project_binding_work_wrap_back_text: Project.find(r)&.project_binding_work&.wrap_back_text_i18n,
                      project_binding_work_stitching_paper: Project.find(r)&.project_binding_work&.stitching_paper,
                      project_binding_work_secret_stitch: Project.find(r)&.project_binding_work&.secret_stitch_i18n,
                      project_binding_work_secret_stitch_paper: Project.find(r)&.project_binding_work&.secret_stitch_paper_i18n,
                      project_binding_work_radio_stitch: Project.find(r)&.project_binding_work&.radio_stitch_i18n,
                      project_binding_work_radio_cut: Project.find(r)&.project_binding_work&.radio_cut_i18n,
                      project_binding_work_radio_cut_note: Project.find(r)&.project_binding_work&.radio_cut_note,
                      project_binding_work_note: Project.find(r)&.project_binding_work&.note,
                      project_category: Project.find(r)&.project_category_i18n,
                      project_bind_posting_state: Project.find(r)&.bind&.posting_state_i18n,
                      project_bind_print_size: Project.find(r)&.bind&.print_size_i18n,
                    })
            - elsif Project.find(r).project_category_i18n === 'スキャン'

                = react_component('QuoteProject',
                    { project: Project.find(r),
                     	project_category: Project.find(r)&.project_category_i18n,
                      project_scan_posting_state: Project.find(r)&.scan&.posting_state_i18n,
                  	  project_scan_posting_state_note: Project.find(r)&.scan&.posting_state_note,
                      project_scan_print_size: Project.find(r)&.scan&.print_size_i18n,
                      project_scan_draft_restore: Project.find(r)&.scan&.draft_restore_i18n,
                      project_scan_draft_split: Project.find(r)&.scan&.draft_split_i18n,
                      project_scan_back_cut: Project.find(r)&.scan&.back_cut_i18n,
                      project_scan_back_cut_note: Project.find(r)&.scan&.back_cut_note,
                      project_scan_color: Project.find(r)&.scan&.color_i18n,
                      project_scan_resolution: Project.find(r)&.scan&.resolution_i18n,
                      project_scan_file_extension: Project.find(r)&.scan&.file_extension_i18n,
                      project_scan_size_mix: Project.find(r)&.scan&.size_mix_i18n,
                      project_scan_adf: Project.find(r)&.scan&.adf_i18n,
                      project_scan_odr: Project.find(r)&.scan&.odr_i18n,
                      project_scan_bookmark: Project.find(r)&.scan.bookmark_i18n,
                      project_scan_edit_file_name: Project.find(r)&.scan&.edit_file_name_i18n,
                    })
            - elsif Project.find(r).project_category_i18n === '印刷'

                = react_component('QuoteProject',
                { project: Project.find(r),
                	project_category: Project.find(r)&.project_category_i18n,
                  project_otherprint_note: Project.find(r)&.note,
                })

            - elsif Project.find(r).project_category_i18n === 'その他'

                = react_component('QuoteProject',
                  { project: Project.find(r),
                    project_category: Project.find(r)&.project_category_i18n,
                    project_other_note: Project.find(r)&.note,
                  })

= react_component('WorkEditor',
  {	division: work.division,
		division_id: current_user.division_id,
		work: work,
		work_details: work.work_details,
    work_detail_actual_cost: (work.work_details.sum(:actual_cost)).to_i,
    user_id: current_user.id,
    work_subcontractors: work.subcontractor,
    subcontractor_details: work.subcontractor_detail,
    subcontractor_detail_actual_cost: (work.subcontractor_detail.sum(:actual_cost)).to_i,
		project_price: work.quote&.price,
		users: User.all,
		subcontractors: Subcontractor.all,
    divisions: SubcontractorDivision.all,
    clients: SubcontractorDivisionClient.all,
    prefectures: Prefecture.all,
		work_subcontractors_iterate: work.iterate,
  })