- if card_client.new_record?
  = react_component :NewCardClientGenerate, card_client: card_client, action: action 
- else
  = react_component('EditCardClientGenerate',
  { card_client: card_client,
    cards: Card.where(company_division_id: card_client.company_division_client.company_division_id),
    card: card_client.templates.first.card_template.card,
    company: card_client.company_division_client.company_division.company,
    division: card_client.company_division_client.company_division,
    clients: card_client.company_division_client.company_division.clients,
    client: card_client.company_division_client,
    front_template: card_client.templates.first.card_template.formatting(card_client.templates.first.card_template.status),
    reverse_template: card_client.templates.last.card_template.formatting(card_client.templates.last.card_template.status), 
    front_value: card_client.templates.first.formatting,
    reverse_value: card_client.templates.last.formatting,
    action: action,
  })