- if card_client.new_record?
  = react_component :NewCardClientGenerate, card_client: card_client, action: action, new: true, divisions: @divisions
- else
  = react_component('EditCardClientGenerate',
  { card_client: card_client,
    cards: Card.where(company_id: card_client.company_division.company.id),
    card: card_client.templates.first.card_template.card,
    company: card_client.company_division_client.company_division.company,
    division: card_client.company_division_client.company_division,
    clients: card_client.company_division_client.company_division.clients,
    client: card_client.company_division_client,
    front_value: card_client.templates.first.formatting(true),
    reverse_value: card_client.templates.last.formatting(false),
    action: action,
  })
