= react_component('EditCardClientGenerate',
	{ card_client: card_client,
		cards: Card.where(company_id: card_client.company_division.company.id),
		card: card_client.templates.first.card_template.card,
		company: card_client.company_division_client.company_division.company,
		division: card_client.company_division_client.company_division,
		clients: card_client.company_division_client.company_division.clients,
		client: card_client.company_division_client,
		template: card_client.templates.first.formatting(:false),
    template_type: :false,
		action: :edit,
	})
