= react_component('ProjectEditor',
  { action: action,
  project: project,
  project_bind: project.bind,
  project_copy: project.copy,
  project_card: project.card,
  project_print: project.print,
  project_scan: project.scan,
  project_after_process: project.project_after_process,
  project_binding_work: project.project_binding_work,
  company: project.client&.company_division&.company,
  division: project.client&.company_division,
  client: project.client })
