defaults: &defaults

  url: http://localhost:3000
  host: localhost
  email: info@jiinet.co.jp
  redis_host: localhost
  redis_port: 6379
  fragment_cache_time: 3
  native_database_string_limit: 191

  # Basic認証
  basic_auth_id: general
  basic_auth_pass: adminadmin

development:
  <<: *defaults

staging:
  <<: *defaults
  url: https://staging.factory.jiinet.co.jp
  host: staging.factory.jiinet.co.jp
  redis_host: localhost
  redis_port: 6379

production:
  <<: *defaults
  url: https://factory.jiinet.co.jp
  host: factory.jiinet.co.jp
  redis_host: localhost
  redis_port: 6379
