// ==============================================
// flex
// ==============================================

.c-flex

  display: flex
  &__between

    display: flex
    justify-content: space-between

