// ==============================================
// flex
// ==============================================

.c-flex

  display: flex
  &__start

    display: flex
    justify-content: flex-start
  &__between

    display: flex
    justify-content: space-between

  &__around

    display: flex
    justify-content: space-around

  &__inline

    display: inline
  &__center

    display: flex
    justify-content: center

  &__end
      display: flex
      justify-content: flex-end
      flex-wrap: wrap

  &-alignItems
    &_start
      display: flex
      align-items: flex-start

    &__center
      display: flex
      align-items: center
  &__column
    display: flex
    flex-direction: column