.p-quotes__lock
  position: relative
  .active
    width: 32px
    height: 32px
    position: absolute
    opacity: 0
  &:hover .active
    width: 32px
    height: 32px
    background-color: #a9a9a9
    position: absolute
    opacity: 1
  .nonactive
    width: 32px
    height: 32px
    position: absolute
    opacity: 1
  &:hover .nonactive
    width: 32px
    height: 32px
    position: absolute
    opacity: 0
  .active__lock
    width: 32px
    height: 32px
    background-color: #ffd700
    position: absolute
    opacity: 0
  &:hover .active__lock
    width: 32px
    height: 32px
    background-color: #ffd700
    position: absolute
    opacity: 1
  .nonactive__lock
    width: 32px
    height: 32px
    background-color: #ffd700
    position: absolute
    opacity: 1
  &:hover .nonactive__lock
    width: 32px
    height: 32px
    background-color: #ffd700
    position: absolute
    opacity: 0
