.p-quotes__lock
  position: relative
  .active
    position: absolute
    opacity: 0
  &:hover .active
    position: absolute
    opacity: 1
  .nonactive
    position: absolute
    opacity: 1
  &:hover .nonactive
    position: absolute
    opacity: 0
