= react_component :CardTemplate,
	{ card_template: card_template,
  company: card_template.company,
  action: card_template.new_record?? card_templates_path : card_template_path,
  new_record_type: card_template.new_record?,
	heads: @heads,
	tails: @tails}
