@font-face
  font-family: blk-bold
  font-style: normal
  font-weight: 700
  src: asset_url('BLKFont-Bold.ttf') format('ttf')

@font-face
  font-family: blk-book
  font-style: normal
  font-weight: 300
  src: asset_url('BLKFont-Book.ttf') format('ttf')

@font-face
  font-family: blk-extrabold
  font-style: normal
  font-weight: 800
  src: asset_url('BLKFont-Extrabold.ttf') format('ttf')
