@font-face
  font-family: BLKFort-Bold
  font-style: normal
  font-weight: 700
  src: font-url('BLKFont-Bold.woff2') format('woff2'), font-url('BLKFont-Bold.woff') format('woff')

@font-face
  font-family: BLKFort-Book
  font-style: normal
  font-weight: 300
  src: font-url('BLKFont-Book.woff2') format('woff2'), font-url('BLKFont-Book.woff') format('woff')

@font-face
  font-family: BLKFort-Extrabold
  font-style: normal
  font-weight: 800
  src: font-url('BLKFont-Extrabold.woff2') format('woff2'), font-url('BLKFont-Extrabold.woff') format('woff')
