@font-face
  font-family: noto-sans-cjk-jp-bold
  font-style: normal
  font-weight: 700
  src: asset_url('NotoSansCJKjp-Bold.otf') format('otf')

@font-face
  font-family: noto-sans-cjk-jp-light
  font-style: normal
  font-weight: 200
  src: asset_url('NotoSansCJKjp-Light.otf') format('otf')

@font-face
  font-family: noto-sans-cjk-jp-medium
  font-style: normal
  font-weight: 500
  src: asset_url('NotoSansCJKjp-Medium.otf') format('otf')
